<div class='item' *ngFor='let payment of payments'>
  <span [ngClass]="{complete: payment.complete}">{{ payment?.name }}</span>
  <span [ngClass]="{complete: payment.complete}">{{ payment?.price | currency: '£' }}</span>
  <span [ngClass]="{complete: payment.complete}">{{ getGetOrdinal(payment?.date) }} of every month</span>
  <app-switch (click)="toggle(payment)" [complete]="payment.complete"></app-switch>
  <i class='material-icons' (click)='removeExpense(payment)'>close</i>
</div>

<div class='expense-add'>
  <input type='text' [(ngModel)]='newExpense.name' placeholder='Expense Name'>
  <input type='number' [(ngModel)]='newExpense.price' placeholder='Expense Price'>
  <input type='number' step="1" max="31" [(ngModel)]='newExpense.date' placeholder='Expense Date'>
  <button [disabled]="!newExpense.name || !newExpense.price || !newExpense.date" (click)='addExpense()'>Add expense</button>
</div>